<div class="wrapper">
  <h1>Sign up</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field class="email-input">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <div class="field-pair">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastname" />
      </mat-form-field>
    </div>
    <div class="field-pair">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm</mat-label>
        <input matInput formControlName="confirm" />
      </mat-form-field>
    </div>
    <a routerLink="/sign-in">Already have an account? Sign in!</a>
    <button mat-flat-button type="submit" color="primary" [disabled]="!signUpForm.valid">Sign up</button>
  </form>
</div>
