.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  h1 {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-input {
    width: 100%;
  }

  .field-pair {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}
