.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  h1 {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  a {
    align-self: center;
  }

  button {
    margin-top: 2rem;
  }
}
