<div class="wrapper">
  <h1>Sign in</h1>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <a routerLink="/sign-up">Don`t have an account? Sign up!</a>
    <button mat-flat-button type="submit" color="primary" [disabled]="!signInForm.valid">Sign in</button>
  </form>
</div>
