.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    overflow: auto;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: lightskyblue;
    justify-content: space-between;

    .card-header {
      margin: 2rem;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      border-radius: 2rem;
      background-color: lightblue;
    }
  }

  .add-icon {
    margin: auto;
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
  }

  form {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
