<div class="wrapper">
  <app-header header="Services"></app-header>
  <div class="content">
    <div class="card-container" *ngFor="let service of services" (click)="edit(service)">
      <h3 class="card-header">{{ service.serviceName }}</h3>
      <div class="card-content">
        <span>Price: {{ service.servicePrice }}</span>
        <span>Guarantee: {{ service.serviceGuarantee | none }}</span>
      </div>
    </div>
    <div class="card-container" (click)="open()">
      <mat-icon class="add-icon">add_circle</mat-icon>
    </div>
  </div>
    <form appOutsideClick class="card-container" *ngIf="showModal" [formGroup]="currentServiceForm" (ngSubmit)="save()" (outsideClick)="close()">
      <div class="card-header">
        <input appPrettyInput placeholder="Name" formControlName="serviceName" />
      </div>
      <div class="card-content">
        <div>
          <input appPrettyInput placeholder="Price" formControlName="servicePrice" />
        </div>
        <div>
          <input appPrettyInput placeholder="Guarantee" formControlName="serviceGuarantee" />
        </div>
        <div class="buttons">
          <button appPrettyInput type="submit" [disabled]="!currentServiceForm.valid">Save</button>
          <button appPrettyInput (click)="delete()" [disabled]="!currentServiceForm.value.serviceId">Delete</button>
        </div>
      </div>
    </form>
  </div>
