/* You can add global styles to this file, and also import other style files */
@use 'scss-reset/reset';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './assets/styles/animations.scss';
@import './assets/styles/mixins.scss';
@import './assets/styles/tables.scss';
@import './assets/styles/variables.scss';
