:host {
    display: block;
    height: 100%;
    width: 100%;
    background: #64af79;
}

:host ::ng-deep router-outlet + * { /*strange tricks to get the inserted component*/
    display: block;
    height: 100%;
    width: 100%;
}
