<header>
  <h1>{{ header }}</h1>
  <button mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
  <mat-menu #menu>
    <div mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>Sign Out
    </div>
  </mat-menu>
</header>
